body {
    font-family: "Roboto Mono", monospace;
    background-color: #191919;
    color: #e0d1c2;
    margin: 2em;
}

h1,
h2 {
    font-weight: bold;
    font-size: xx-large;
}

h3 {
    color: #4a5c7b;
}

p {
    padding: 1em 0;
    color: #ea6e1d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    content: "+ ";
    font-weight: bold;
    margin-right: 0.5em;
}

.nav {
    border-bottom: 1px solid #e0d1c2;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    padding: 0;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-bottom: 1em;
}

a {
    color: #e0d1c2;
    text-decoration: none;
    font-size: var(8px);
    padding: var(8px);
}

a:hover {
    color: #ea6e1d;
}

.long {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
}